<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <!-- Configuración básica -->
    <PublishProvider>FileSystem</PublishProvider>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <PublishUrl>C:\Proyectos\Proyecto Desarrollo Movil\DesarrolloMovil-ProyectoFinal-\GastosApi</PublishUrl>
    <DeleteExistingFiles>false</DeleteExistingFiles>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>

    <!-- Configuración de compilación -->
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <Configuration>Release</Configuration>

    <!-- Información del proyecto -->
    <TargetFramework>net9.0</TargetFramework>
    <ProjectGuid>d73d28fe-ea3f-4fe9-aff4-b0cc8d327487</ProjectGuid>

    <!-- Especificar el runtime para SmarterASP.NET -->
    <RuntimeIdentifier>win-x86</RuntimeIdentifier>
    <SelfContained>false</SelfContained>
    <!-- Framework-dependent -->

    <!-- Otras configuraciones -->
    <PublishSingleFile>false</PublishSingleFile>
    <!-- No usar archivo único, para evitar problemas de hosting -->
    <EnablePackageReferences>true</EnablePackageReferences>
    <GenerateRuntimeConfigurationFiles>true</GenerateRuntimeConfigurationFiles>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <_TargetId>Folder</_TargetId>
  </PropertyGroup>
</Project>
